# ==============================
# Archivos del Proyecto Python / SQLite
# ==============================
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
*.db
*.sqlite3
BrokerMosquitto/data/
data/
telemetria.db
.env

# ==============================
# Java
# ==============================
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# ==============================
# Maven / Gradle / Spring Boot
# ==============================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.gradle/
build/
!gradle-wrapper.jar
!gradle-wrapper.properties
!gradlew
!gradlew.bat

# ==============================
# IDEs (IntelliJ, Eclipse, VS Code)
# ==============================
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.metadata/
.vscode/

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db
